<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              <img src="{{ site.baseurl }}/img/logo_jred_no_bkgd.png" alt="Logo" width=120>
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/">Acceuil</a></li>
                <li><a href="https://www.weezevent.com/jred-2019">Inscription</a></li>
                <li><a href="{{ site.baseurl }}/#programme">Programme</a></li>
                <li><a href="{{ site.baseurl }}/entreprises">Entreprises</a></li>
                <li><a href="{{ site.baseurl }}/table_ronde">Table ronde</a></li>
               <!-- <li><a href="{{ site.baseurl }}/work">Pourquoi venir?</a></li>-->
                <li><a href="{{ site.baseurl }}/poster">Poster</a></li>
                <li><a href="{{ site.baseurl }}/map">Plan & Accès</a></li>
                <!--<li><a href="{{ site.baseurl }}/work">About us</a></li>-->
                <li><a href="{{ site.baseurl }}/contact">Contacts</a></li>
                <li><a href="{{ site.baseurl }}/en/index.html">EN</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
