<!DOCTYPE html>
<html class="no-js">
  <head>

    {% include head.html %}

  </head>
  <body>


    {% include header.html %}


    {{ content }}









    <!-- footer Start -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-manu">
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Terms</a></li>
              </ul>
            </div>
            <p>Copyright &copy; Design & Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>


  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>


    </body>
</html>
